/* GENERAL PAGE STYLING */

* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0
}

h3,
span,
div ul li:nth-child(even) {
    color: #FE02E8;
}

/* STYLING FOR THE MAIN */

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    grid-template-areas: 
    'hero info';
}

/* STYLING FOR HERO AREA */

.hero-area {
    background: url(./assets/shahadat-rahman-voM1Z9cGPCU-unsplash.jpg) top center/ cover no-repeat;
    color: #FFF;
    grid-area: hero;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 3.5em;
    padding-left: .5em;
    position: relative;
        top: 38rem;
}

/* STYLING FOR BIO INFO */
.bio-info {
    grid-area: info;
    height: 100vh;
    padding: 3em 3em 0 3em;
}

.bio-info p,
.bio-info ul li {
    font-size: 1.2em;
}

.bio-info p a:hover {
    color: red;
}

.bio-info h2,
.bio-info p,
.bio-info h3,
.bio-info ul {
    margin-bottom: 1em;
}

h3 {
    text-align: center;
}

div ul li {
    display: inline-block;
    margin-right: 1.25em;
}

img {
    height: 30px;
    width: auto;
}

/* STYLING FOR FOOTER AREA */

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul li{
    margin: 2em .8em 0 0;
}

nav ul li {
    display: inline-block;
}

nav ul li:hover {
    transform: scale(1.2);
}
